@import "~normalize.css";
@import "./MyriadPro-Regular";
@import "./Gotham-Bold";
@import "./Gotham-Book";
@import "./Gotham-Medium";

$main_color: #11749e;






body {
  
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.title {
  font-family: 'Gotham-Medium', sans-serif;
  font-size: 37.5px;
  color: #fff;
  padding-top: 170px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

.header {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  border-bottom: 1px solid #777576;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 116px;
  align-items: center;
  color: #fff;

  .logo {
    display: inline-block;
    position: relative;
    width: 67px;
    height: 67px;
    margin-top: -20px;
    margin-left: 20px;
    background-color: $main_color;
    text-align: center;
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 30.5px;
    line-height: 60px;
    z-index: auto;


    &:after {
      position: absolute;
      content: '';
      top: 8px;
      left: 12px;
      width: 67px;
      height: 67px;
      background-color: #cccbcb;
      z-index: -1;
    }
  }

  &__menu {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    font-family: 'MyriadPro-Regular', sans-serif;

    &__item {
      display: inline-block;
      list-style-type: none;

      font-size: 20px;
      box-sizing: border-box;



      a {
        padding: 44px 35px;
        border-bottom: 6px solid transparent;
        transition: all ease-in .3s;
      }

      &:hover a {
        color: #cccbcb;
        border-bottom: 6px solid $main_color;
      }

      &:last-child {
        padding: 0px;
      }

      &:last-child  a {
        border-bottom: 0px;
        padding: 10px;
      }

      &:last-child > a:hover path{
        fill: #cccbcb;
      }

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.page {
  width: 99vw;
  position: relative;
  min-height: 970px;
  background-image: url('../img/main.jpg');
  background-size: cover;

  text-align: center;

  &__title {
    font-family: 'Gotham-Bold', sans-serif;
    font-size: 152.5px;
    padding-top: 390px;

  }

  &__suptitle {
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 24.7px;
    color: $main_color;
    text-transform: uppercase;
    //margin-top: 0px;
    margin-left: 20px;
    letter-spacing: 21px;
  }

  .scroll-down {
    margin-top: 150px;

    &__text {
      font-family: 'Gotham-Book', sans-serif;
      font-size: 13px;
      color: #fff;
    }

    &__btn {
      position: relative;
      margin-top: 20px;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      color: transparent;
      background-color: transparent;
      border: 1px solid #fff;
      outline: none;
      cursor: pointer;
      transition: ease .3s;



      &:hover {
        border-color: #777576;

        &::before {
          background-color: #777576;
        }
        &::after {
          background-color: #777576;
        }
      }


    &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 4px;
      top: 30px;
      right: 28px;
      transform: rotate(45deg);
      background-color: #fff;

    }

    &::after {
      position: absolute;
      content: '';
      width: 15px;
      height: 4px;
      top: 30px;
      right: 20px;
      transform: rotate(-45deg);
      background-color: #fff;
    }
    }
  }
}

.features {
  width: 99vw;
  height: 738px;
  color: #fff;
  background-color: $main_color;

  &__icon__one {
    background-image: url('../img/Write.png');
  }

  &__icon__two {
    background-image: url('../img/Write.png');
  }

  &__icon__three {
    background-image: url('../img/Search (and thou shall find).png');
  }

  &__icon__four {
    background-image: url('../img/Simon says.png');
  }

  &__title {

    position: relative;

    &::before {
      font-family: 'Gotham-Bold', sans-serif;
      position: absolute;
      transform: scale(.73, 1.0);
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;
      content: 'W';
      font-size: 247.2px;
      font-weight: 700;
      color: rgba(256,256,256, .3);

    }
  }

  &__list {
    display: flex;
    margin-top: 130px;
    padding: 0;

    &__item {
      text-align: center;
      list-style-type: none;
      padding: 15px;
    }

    &__img {
      position: relative;
      margin: 0 auto;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background-color: rgba(256,256,256, .3);
      background-repeat: no-repeat;
      background-position: center;

    }

    &__title {
      font-family: 'Gotham-Medium', sans-serif;
      font-size: 18px;
      margin-top: 24px;
    }

    &__text {
      font-family: 'Gotham-Book', sans-serif;
      font-size: 14px;
      margin-top: 30px;
      line-height: 22px;
    }
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  max-width: 99vw;


  &__block {
    display: flex;
    position: relative;
    background-color: #222222;
    color: #fff;
    width: 100%;

    margin: 0 auto;

    &:nth-child(even) {
      background-color: #f3f3f3;
      color: #000;


      .news__block__info {
        padding-left: 55%;
      }
      .news__block__img {
        position: absolute;
        content: '';
        background-image: url('../img/2_img.jpg');
        left: 0;
      }
    }

    &__info {
      display: block;
      margin-top: 80px;
      width: 50%;
      margin-bottom: 100px;
      max-height: 442px;
      overflow: hidden;
    }
    &__img {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      background-image: url('../img/1_img.jpg');
      background-size: cover;
      width: 50%;
      height: 100%;

    }
  }


  &__posted {
    font-family: 'Gotham-Book', sans-serif;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;


    &__title {
      font-family: 'Gotham-Medium', sans-serif;
      font-size: 25px;
      margin: 15px 0 0;
      text-transform: uppercase;
    }

    &__text {
      font-family: 'Gotham-Book', sans-serif;
      font-size: 15px;
      margin-top: 40px;
      padding-right: 50px;
      line-height: 20px;
    }
  }
}

.blog {
  width: 99vw;
  color: #222222;
  background-color: #fff;

  &__title {
    color: #222222;
    position: relative;

    &::before {
      font-family: 'Gotham-Bold', sans-serif;
      position: absolute;
      transform: scale(.73, 1.0);
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;
      content: 'B';
      font-size: 247.2px;
      font-weight: 700;
      color: rgba(0,0,0, .2);
    }
  }

  &__suptitle {
    text-align: center;
    font-family: 'Gotham-Book', sans-serif;
    font-size: 30px;
    margin: 115px 0 0;
    font-weight: 300;
  }

  &__list {
    display: flex;
    margin-top: 75px;
    padding: 0 0 100px 0;

    &__one{
      background-image: url('../img/1_blog.jpg');
    }

    &__two{
      background-image: url('../img/2_blog.jpg');
    }

    &__three{
      background-image: url('../img/3_blog.jpg');
    }

    &__four{
      background-image: url('../img/1_blog.jpg');
    }

    &__item {
      text-align: center;
      list-style-type: none;
      padding: 15px;
    }

    &__img {
      position: relative;
      margin: 0 auto;
      width: 270px;
      height: 280px;
      background-color: #000;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__title {
      font-family: 'Gotham-Medium', sans-serif;
      font-size: 18px;
      margin-top: 24px;
    }

    &__text {
      font-family: 'Gotham-Book', sans-serif;
      font-size: 14px;
      margin-top: 30px;
      line-height: 22px;
    }
  }
}

.block {
  background-color: $main_color;
  color: #fff;

  &__item {
    display: flex;
    padding: 110px 15px;
  }

  &__img {
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__text {
    font-family: 'Gotham-Book', sans-serif;
    font-size: 15px;
    line-height: 24px;
    padding: 0 0 0 25px;
    max-width: 470px;
  }
}

.additionally {
  color: #fff;
  width: 99vw;
  position: relative;
  min-height: 850px;
  background-image: url('../img/bg.jpg');
  background-size: cover;


  &__block {
    padding: 225px 15px;
    width: 50%;
    
    &:last-child {
      background-position: center center;
      background-image: url('../img/phone.png');
      background-repeat: no-repeat;
    }
  }

  &__title {
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
  }

  &__text {
    font-family: 'Gotham-Book', sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin: 40px 90px 60px 0;
  }

  &__feature {
    width: 370px;
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    padding: 8px 19px;
    background-color: $main_color;
    margin: 25px 0;
  }
}

.team {
  width: 99vw;
  color: #222222;
  background-color: #fff;

  &__title {
    color: #222222;
    position: relative;

    &::before {
      font-family: 'Gotham-Bold', sans-serif;
      position: absolute;
      transform: scale(.73, 1.0);
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;
      content: 'T';
      font-size: 247.2px;
      font-weight: 700;
      color: rgba(0,0,0, .2);
    }
  }

  &__suptitle {
    text-align: center;
    font-family: 'Gotham-Book', sans-serif;
    font-size: 30px;
    margin: 115px 0 0;
    font-weight: 300;
  }

  &__list {
    display: flex;
    margin-top: 75px;
    padding: 0 0 75px 0;

    &__one{
      background-image: url('../img/1_team.jpg');
    }

    &__two{
      background-image: url('../img/2_team.jpg');
    }

    &__three{
      background-image: url('../img/3_team.jpg');
    }

    &__four{
      background-image: url('../img/4_team.jpg');
    }

    &__item {
      text-align: center;
      list-style-type: none;
      padding: 15px;
    }

    &__img {
      margin: 0 auto;
      width: 270px;
      height: 414px;
      background-color: #000;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__block {
      display: inline-block;
      padding: 25px 40px;
      margin-top: -50px;
      background-color: #fff;
    }

    &__name {
      font-family: 'Gotham-Medium', sans-serif;
      font-size: 20px;
      line-height: 24px;
      color: $main_color;
      text-transform: uppercase;
    }

    &__work {
      font-family: 'Gotham-Medium', sans-serif;
      font-size: 15px;
      line-height: 24px;
    }
  }
}

.form {
  width: 99vw;
  min-height: 100vh;
  background-color: #000;
  background-image: url('./../img/bg-form.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__title {
    color: #fff;
    position: relative;

    &::before {
      font-family: 'Gotham-Bold', sans-serif;
      position: absolute;
      transform: scale(.73, 1.0);
      top: 40px;
      left: 0;
      right: 0;
      bottom: 0;
      content: 'C';
      font-size: 247.2px;
      font-weight: 700;
      color: rgba(255,255,255, .2);
    }
  }
  
  &__block {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 130px 0 100px;
    justify-content: space-between;
  }

  &__label {
    
  }

  &__input {
    border: 1px solid #fff;
    background-color: transparent;
    width: 370px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    font-size: 15px;

    &:focus {
      border-color: $main_color;
    }

    &::placeholder {
      color: #fff;
    }
  }

  &__message {
    width: 100%;
    margin-top: 40px;
    min-height: 150px;
  }

  &__btn  {
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 24px;
    color: #fff;
    padding: 20px 60px;
    text-transform: uppercase;
    background-color: $main_color;
    border: 2px solid transparent;
    margin: 45px auto 0;

    &:focus {
      border: 2px solid #fff;
    }
  }
}

.map {
  width: 99vw;
  height: 335px;
  background-image: url(./../img/map.jpg);
}

.footer {
  background-color: #222;

  &__block {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
